<!-- Team 13, Melbourne
Jing Qiu, 1152016, jiqiu1@student.unimelb.edu.au
Meijun Yue, 1190161, meijuny@student.unimelb.edu.au
Suyi Jiao, 1222833, sjjiao@student.unimelb.edu.au
Yeting Wu, 1310061, yetingw@student.unimelb.edu.au
Wenshuo Pan, 1226506, wenshuop@student.unimelb.edu.au -->

<!DOCTYPE HTML>

<html>

<head>
    <title>404</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/main.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/boostrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/demo.css') }}">
    <link rel="icon" href="../static/images/logo.ico" type="image/x-icon">


</head>



<body>
    <center>
        <div class="background">
            <p class="num" style="margin-top: 10%; font-size: 60px">404</p>
            <p class="text"style="font-size: 60px;">This page cannot be found.</p>
            <ul class="actions" style="justify-content: center">
                <li><a href="/" class="button big">GO BACK HOME</a></li>
            </ul>
        </div>
    </center>
</body>

</html>