<!-- Team 13, Melbourne
Jing Qiu, 1152016, jiqiu1@student.unimelb.edu.au
Meijun Yue, 1190161, meijuny@student.unimelb.edu.au
Suyi Jiao, 1222833, sjjiao@student.unimelb.edu.au
Yeting Wu, 1310061, yetingw@student.unimelb.edu.au
Wenshuo Pan, 1226506, wenshuop@student.unimelb.edu.au -->

{% extends "layout.html" %}

<head>
  <title>{% block title %} Economy {% endblock %}</title>
</head>>

{% block right %}
<!-- Header -->
<header id="header">
  <h1> Housing </h1>
</header>
<center>
  <div class="col-xs-12 col-sm-8 col-lg-10 placeholder" style="height:500px; padding-top:3%" id="house">
  </div>
  <p style="text-align:justify">
    The figure shows the price of Housing and Attached Dwelling in the seven cities.
  </p>  
  </center>
{% endblock %}

{% block echarts_js %}
<script type="text/javascript">
  // Initialize echarts instance
  var house = echarts.init(document.getElementById('house'));
  // Specify the configuration items and data for the chart
  var ecoSecondOption = {
    title: {
      text: 'Housing Prices in Cities',
      left: 'center'
    },
    legend: {
      orient: 'vertical',
      right: 0
    },
    tooltip: {},
    dataset: {
      source: {{ house_source | safe}}
            },
  xAxis: { type: 'category' },
  yAxis: { },
  // Declare several bar series, each will be mapped
  // to a column of dataset.source by default.
  series: [{ type: 'bar' }, { type: 'bar' }]
          };

  house.setOption(ecoSecondOption);
</script>
{% endblock %}

{% block scripts %}{% endblock %}
