<!-- Team 13, Melbourne
Jing Qiu, 1152016, jiqiu1@student.unimelb.edu.au
Meijun Yue, 1190161, meijuny@student.unimelb.edu.au
Suyi Jiao, 1222833, sjjiao@student.unimelb.edu.au
Yeting Wu, 1310061, yetingw@student.unimelb.edu.au
Wenshuo Pan, 1226506, wenshuop@student.unimelb.edu.au -->

<!DOCTYPE HTML>

<html>

<head>
	<title>{% block title %}{% endblock %}</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="{{ url_for('static',filename='assets/css/main.css') }}" />
	<link rel="stylesheet" href="{{ url_for('static',filename='assets/css/boostrap.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static',filename='assets/css/demo.css') }}">
	<link rel="icon" href="../static/images/logo.ico" type="image/x-icon">
	{% block header %}{% endblock %}


</head>
</head>

<body class="is-preload">

	<div id="wrapper">

		<!-- Main -->
		<div id="main">
			<div class="inner">
				{% block right %}
				{% endblock %}
				<!-- Section -->
			</div>
		</div>

		<!-- Sidebar -->
		<div id="sidebar" style="background: floralwhite;">
			<div class="inner">
				<!-- Menu -->
				<nav id="menu">
					<header class="major">
						<h2>Menu</h2>
					</header>
					<ul>
						<li><a href="/">home page</a></li>
						<li>
							<span class="opener">economy</span>
							<ul>
								<li><a href="/enterprise">enterprise</a></li>
								<li><a href="/housing">housing</a></li>
								<li><a href="/household">household</a></li>
							</ul>
						</li>
						<li><a href="/education">education</a></li>
						<li>
							<span class="opener">health</span>
							<ul>
								<li><a href="/mental">sentiment analysis</a></li>
								<li><a href="/assistance">unpaid assistance</a></li>
							</ul>
						</li>
						<li><a href="/social">social media</a></li>
						<li>
							<span class="opener">covid-19</span>
							<ul>
								<li><a href="/vaccination">vaccination rate</a></li>
								<li><a href="/infection">infection status</a></li>
								<li><a href="/sentiment">sentiment analysis</a></li>
								<li><a href="/wordcloud">wordcloud</a></li>
								<li><a href="/topic">topic trend</a></li>
							</ul>
						</li>
					</ul>
				</nav>


				<section>
					<header class="major">
						<h2>Contact Us</h2>
					</header>
					<p>
						If you have any question, the information below allows you to contact us directly.<br />
						Welcome to contact us!
					</p>
					<ul class="contact">
						<li class="icon solid fa-envelope"><a href="#">sjjiao@student.unimelb.edu.au</a></li>
						<li class="icon solid fa-paperclip"><a href="#">https://github.com/wenshuop <br />
								/comp90024as2</a></li>
						<li class="icon solid fa-home">Grattan Street, Parkville, Victoria, 3010<br />
							The University of Melbourne,<br />
							Victoria 3010 Australia</li>
					</ul>
				</section>

				<!-- Footer -->
				<footer id="footer">
					<p class="copyright">Copyright &copy; 2021-2022, Group 13 </p>
				</footer>

			</div>
		</div>

	</div>


	<!-- Scripts -->
	<script src="{{ url_for('static',filename='assets/js/jquery.min.js') }}"></script>
	<script src="{{ url_for('static',filename='assets/js/browser.min.js') }}"></script>
	<script src="{{ url_for('static',filename='assets/js/breakpoints.min.js') }}"></script>
	<script src="{{ url_for('static',filename='assets/js/util.js') }}"></script>
	<script src="{{ url_for('static',filename='assets/js/main.js') }}"></script>
	<script src="{{ url_for('static',filename='assets/js/demo.js') }}"></script>
	<script src="{{ url_for('static',filename='assets/js/echarts.js') }}"></script>
	
	{% block echarts_js %}{% endblock %}
	{% block scripts %}{% endblock %}

</body>

</html>