<!-- Team 13, Melbourne
Jing Qiu, 1152016, jiqiu1@student.unimelb.edu.au
Meijun Yue, 1190161, meijuny@student.unimelb.edu.au
Suyi Jiao, 1222833, sjjiao@student.unimelb.edu.au
Yeting Wu, 1310061, yetingw@student.unimelb.edu.au
Wenshuo Pan, 1226506, wenshuop@student.unimelb.edu.au -->

{% extends "layout.html" %}

<head>
  <title>{% block title %} Health {% endblock %}</title>
</head>>

{% block right %}
<!-- Header -->
<header id="header">
  <h1> Medical Status </h1>
</header>
<center>
  <div class="col-xs-12 col-sm-8 col-lg-10 placeholder" style="height:500px; padding-top:3%" id="hospital">
  </div>
  <p style="text-align:justify">
    The figure shows the number of public hospitals in each city.  
  </p>
  <div class="col-xs-12 col-sm-8 col-lg-10 placeholder" style="height:500px;" id="medicalStatus">
  </div>
  <p style="text-align:justify">
    The figure shows the percentage of services provided by Medical Benefits Scheme (MBS) in each city.  
  </p>
</center>
{% endblock %}

{% block echarts_js %}
<script type="text/javascript">
  // Initialize echarts instance
  var hospital = echarts.init(document.getElementById('hospital'));
  // Specify the configuration items and data for the chart
  var heaFirstOption = {
    title: {
      text: 'Number of Hospitals in Cities',
      left: 'center'
    },
    tooltip: {
      trigger: 'item'
    },
    legend: {
      orient: 'vertical',
      right: 0
    },
    series: [
      {
        name: 'Access From',
        type: 'pie',
        radius: ['40%', '70%'],
        avoidLabelOverlap: false,
        label: {
          show: false,
          position: 'center'
        },
        emphasis: {
          label: {
            show: true,
            fontSize: '40',
            fontWeight: 'bold'
          }
        },
        labelLine: {
          show: false
        },
        data: [
          { value: {{ hospital[4] | safe }}, name: 'Melbourne'},
    { value: {{ hospital[0] | safe }}, name: 'Adelaide'},
  { value: {{ hospital[1] | safe }}, name: 'Brisbane' },
  { value: {{ hospital[2] | safe }}, name: 'Darwin' },
  { value: {{ hospital[3] | safe }}, name: 'Hobart' },
  { value: {{ hospital[5] | safe }}, name: 'Perth' },
  { value: {{ hospital[6] | safe }}, name: 'Sydney' }
                  ]
                }
              ]
            };
  hospital.setOption(heaFirstOption);

  var medicalStatus = echarts.init(document.getElementById('medicalStatus'));
  const dataMel = [
    {{ source.Melbourne | safe }}
];

  const dataDar = [
    {{ source.Darwin | safe }}

];
  const dataHob = [
    {{ source.Hobart | safe }}

];
  const dataPer = [
    {{ source.Perth | safe }}

];
  const dataSyd = [
    {{ source.Sydney | safe }}

];
  const dataAde = [
    {{ source.Adelaide | safe }}

];
  const dataBri = [
    {{ source.Brisbane | safe }}

];
  const lineStyle = {
    width: 1,
    opacity: 0.5
  };
  heaSecondOption = {
    backgroundColor: '#FFFAF0',
    title: {
      text: 'Medical Status in Cities',
      left: 'center',
      textStyle: {
        color: '#000000'
      }
    },
    legend: {
      bottom: 3,
      data: ['Melbourne', 'Sydney', 'Brisbane', 'Adelaide', 'Darwin', 'Perth', 'Hobart'],
      itemGap: 20,
      textStyle: {
        color: '#B0E0E6',
        fontSize: 14
      },
      selectedMode: 'single'
    },
    radar: {
      indicator: [

        { name: 'Practice Nurse', max: 100 },
        { name: 'Psychiatrist', max: 5 },
        { name: 'General Psychologist', max: 40 },
        { name: 'Clinical Psychologist', max: 40 },

      ],
      shape: 'circle',
      splitNumber: 3,
      axisName: {
        color: '#00FF00'
      },
      splitLine: {
        lineStyle: {
          color: [
            '#873324',
            '#873324',
            '#873324',
            '#873324',
            '#873324',
            '#873324'

          ].reverse()
        }
      },
      splitArea: {
        show: false
      },
      axisLine: {
        lineStyle: {
          color: '#000000'
        }
      }
    },
    series: [
      {
        name: 'Melbourne',
        type: 'radar',
        lineStyle: lineStyle,
        data: dataMel,
        symbol: 'none',
        itemStyle: {
          color: '#000000'
        },
        areaStyle: {
          opacity: 0.1
        }
      },
      {
        name: 'Sydney',
        type: 'radar',
        lineStyle: lineStyle,
        data: dataSyd,
        symbol: 'none',
        itemStyle: {
          color: '#000000'
        },
        areaStyle: {
          opacity: 0.05
        }
      },
      {
        name: 'Brisbane',
        type: 'radar',
        lineStyle: lineStyle,
        data: dataBri,
        symbol: 'none',
        itemStyle: {
          color: '#000000'
        },
        areaStyle: {
          opacity: 0.05
        }
      },
      {
        name: 'Adelaide',
        type: 'radar',
        lineStyle: lineStyle,
        data: dataAde,
        symbol: 'none',
        itemStyle: {
          color: '#000000'
        },
        areaStyle: {
          opacity: 0.05
        }
      },
      {
        name: 'Darwin',
        type: 'radar',
        lineStyle: lineStyle,
        data: dataDar,
        symbol: 'none',
        itemStyle: {
          color: '#000000'
        },
        areaStyle: {
          opacity: 0.05
        }
      },
      {
        name: 'Perth',
        type: 'radar',
        lineStyle: lineStyle,
        data: dataPer,
        symbol: 'none',
        itemStyle: {
          color: '#000000'
        },
        areaStyle: {
          opacity: 0.05
        }
      },
      {
        name: 'Hobart',
        type: 'radar',
        lineStyle: lineStyle,
        data: dataHob,
        symbol: 'none',
        itemStyle: {
          color: '#000000'
        },
        areaStyle: {
          opacity: 0.05
        }
      }
    ]
  };
  medicalStatus.setOption(heaSecondOption);
</script>
{% endblock %}

{% block scripts %}{% endblock %}
