<!-- Team 13, Melbourne
Jing Qiu, 1152016, jiqiu1@student.unimelb.edu.au
Meijun Yue, 1190161, meijuny@student.unimelb.edu.au
Suyi Jiao, 1222833, sjjiao@student.unimelb.edu.au
Yeting Wu, 1310061, yetingw@student.unimelb.edu.au
Wenshuo Pan, 1226506, wenshuop@student.unimelb.edu.au -->

{% extends "layout.html" %}

<head>
  <title>{% block title %} Sentiment Analysis {% endblock %}</title>
</head>>

{% block right %}
<!-- Header -->
<header id="header">
  <h1> Sentiment Analysis </h1>
</header>
<center>
  <div class="col-xs-12 col-sm-8 col-lg-10 placeholder" style="height:500px; padding-top:3%" id="melbSentimentRate">
  </div>
  <div class="col-xs-12 col-sm-8 col-lg-10 placeholder" style="height:500px;padding-top:1%" id="sySentimentRate">
  </div>
  <div class="col-xs-12 col-sm-8 col-lg-10 placeholder" style="height:500px;padding-top:1%" id="brSentimentRate">
  </div>
  <div class="col-xs-12 col-sm-8 col-lg-10 placeholder" style="height:500px;padding-top:1%" id="adSentimentRate">
  </div>
  <div class="col-xs-12 col-sm-8 col-lg-10 placeholder" style="height:500px;padding-top:1%" id="daSentimentRate">
  </div>
  <div class="col-xs-12 col-sm-8 col-lg-10 placeholder" style="height:500px;padding-top:1%" id="peSentimentRate">
  </div>
  <div class="col-xs-12 col-sm-8 col-lg-10 placeholder" style="height:500px;padding-top:1%" id="hoSentimentRate">
  </div>
  <p>
    This is analysis!
  </p>
  <div class="col-xs-12 col-sm-8 col-lg-10 placeholder" style="height:500px;padding-top:1%" id="melbPosNeg">
  </div>
  <div class="col-xs-12 col-sm-8 col-lg-10 placeholder" style="height:500px;padding-top:1%" id="syPosNeg">
  </div>
  <div class="col-xs-12 col-sm-8 col-lg-10 placeholder" style="height:500px;padding-top:1%" id="brPosNeg">
  </div>
  <div class="col-xs-12 col-sm-8 col-lg-10 placeholder" style="height:500px;padding-top:1%" id="adPosNeg">
  </div>
  <div class="col-xs-12 col-sm-8 col-lg-10 placeholder" style="height:500px;padding-top:1%" id="daPosNeg">
  </div>
  <div class="col-xs-12 col-sm-8 col-lg-10 placeholder" style="height:500px;padding-top:1%" id="pePosNeg">
  </div>
  <div class="col-xs-12 col-sm-8 col-lg-10 placeholder" style="height:500px;padding-top:1%" id="hoPosNeg">
  </div>
  <p>
    This is analysis!
  </p>
  <div class="col-xs-12 col-sm-8 col-lg-10 placeholder" style="height:500px;" id="polScoreHeat">
  </div>
  <div class="col-xs-12 col-sm-8 col-lg-10 placeholder" style="height:500px;" id="subScoreHeat">
  </div>
  <p>
    This is analysis!
  </p>



</center>
{% endblock %}

{% block echarts_js %}
<script type="text/javascript">
  // Initialize echarts instance
  var melbSentimentRate = echarts.init(document.getElementById('melbSentimentRate'));
  // Specify the configuration items and data for the chart
  var melbSentimentRateOption = {
    title: {
      text: 'Sentiment Analysis in Melbourne',
      left: 'center'
    },
    tooltip: {
      trigger: 'axis',
      axisPointer: {
        type: 'shadow'
      }
    },
    legend: {
      orient: 'horizontal',
      right: 0,
      top: 25
    },
    grid: {
      left: '3%',
      right: '4%',
      bottom: '3%',
      containLabel: true
    },
    xAxis: [
      {
        type: 'category',
        data: {{ sentiment_rate.melb_y | safe }}
                  }
                ],
  yAxis: [
    {
      type: 'value',
      axisLabel: {
        formatter: '{value} %'
      },
      name: 'Percentage of Different Attitude',
      nameLocation: 'middle',
      nameGap: 50,
      max: 100
    }
  ],
    series: [
      {
        name: 'Positive Rate',
        type: 'bar',
        stack: 'Ad',
        label: {
          show: true,
          position: 'inside'
        },
        emphasis: {
          focus: 'series'
        },
        data: {{ sentiment_rate.melb_pos_rate | safe }}
                },
      {
        name: 'Neutral Rate',
        type: 'bar',
        stack: 'Ad',
        label: {
          show: true,
          position: 'inside'
        },
        emphasis: {
          focus: 'series'
        },
        data: {{ sentiment_rate.melb_neu_rate | safe }}
                },
      {
        name: 'Negative Rate',
        type: 'bar',
        stack: 'Ad',
        label: {
          show: true,
          position: 'inside'
        },
        emphasis: {
          focus: 'series'
        },
        data: {{ sentiment_rate.melb_neg_rate | safe }}
                },
    ]
              };
  melbSentimentRate.setOption(melbSentimentRateOption);

  var sySentimentRate = echarts.init(document.getElementById('sySentimentRate'));
  var sySentimentRateOption = {
    title: {
      text: 'Sentiment Analysis in Sydney',
      left: 'center'
    },
    tooltip: {
      trigger: 'axis',
      axisPointer: {
        type: 'shadow'
      }
    },
    legend: {
      orient: 'horizontal',
      right: 0,
      top: 25
    },
    grid: {
      left: '3%',
      right: '4%',
      bottom: '3%',
      containLabel: true
    },
    xAxis: [
      {
        type: 'category',
        data: {{ sentiment_rate.y | safe }}
                  }
                ],
  yAxis: [
    {
      type: 'value',
      axisLabel: {
        formatter: '{value} %'
      },
      name: 'Percentage of Different Attitude',
      nameLocation: 'middle',
      nameGap: 50,
      max: 100
    }
  ],
    series: [
      {
        name: 'Positive Rate',
        type: 'bar',
        stack: 'Ad',
        label: {
        show: true,
        position: 'inside'
        },
        emphasis: {
          focus: 'series'
        },
        data: {{ sentiment_rate.sy_pos_rate | safe }}
                },
      {
        name: 'Neutral Rate',
        type: 'bar',
        stack: 'Ad',
        label: {
        show: true,
        position: 'inside'
        },
        emphasis: {
          focus: 'series'
        },
        data: {{ sentiment_rate.sy_neu_rate | safe }}
                },
      {
        name: 'Negative Rate',
        type: 'bar',
        stack: 'Ad',
        label: {
        show: true,
        position: 'inside'
        },
        emphasis: {
          focus: 'series'
        },
        data: {{ sentiment_rate.sy_neg_rate | safe }}
                },
    ]
              };
  sySentimentRate.setOption(sySentimentRateOption);

  var hoSentimentRate = echarts.init(document.getElementById('hoSentimentRate'));
  var hoSentimentRateOption = {
    title: {
      text: 'Sentiment Analysis in Hobart',
      left: 'center'
    },
    tooltip: {
      trigger: 'axis',
      axisPointer: {
        type: 'shadow'
      }
    },
    legend: {
      orient: 'horizontal',
      right: 0,
      top: 25
    },
    grid: {
      left: '3%',
      right: '4%',
      bottom: '3%',
      containLabel: true
    },
    xAxis: [
      {
        type: 'category',
        data: {{ sentiment_rate.y | safe }}
                  }
                ],
  yAxis: [
    {
      type: 'value',
      axisLabel: {
        formatter: '{value} %'
      },
      name: 'Percentage of Different Attitude',
      nameLocation: 'middle',
      nameGap: 50,
      max: 100
    }
  ],
    series: [
      {
        name: 'Positive Rate',
        type: 'bar',
        stack: 'Ad',
        label: {
        show: true,
        position: 'inside'
        },
        emphasis: {
          focus: 'series'
        },
        data: {{ sentiment_rate.ho_pos_rate | safe }}
                },
      {
        name: 'Neutral Rate',
        type: 'bar',
        stack: 'Ad',
        label: {
        show: true,
        position: 'inside'
        },
        emphasis: {
          focus: 'series'
        },
        data: {{ sentiment_rate.ho_neu_rate | safe }}
                },
      {
        name: 'Negative Rate',
        type: 'bar',
        stack: 'Ad',
        label: {
        show: true,
        position: 'inside'
        },
        emphasis: {
          focus: 'series'
        },
        data: {{ sentiment_rate.ho_neg_rate | safe }}
                },
    ]
              };
  hoSentimentRate.setOption(hoSentimentRateOption);

  var peSentimentRate = echarts.init(document.getElementById('peSentimentRate'));
  var peSentimentRateOption = {
    title: {
      text: 'Sentiment Analysis in Perth',
      left: 'center'
    },
    tooltip: {
      trigger: 'axis',
      axisPointer: {
        type: 'shadow'
      }
    },
    legend: {
      orient: 'horizontal',
      right: 0,
      top: 25
    },
    grid: {
      left: '3%',
      right: '4%',
      bottom: '3%',
      containLabel: true
    },
    xAxis: [
      {
        type: 'category',
        data: {{ sentiment_rate.y | safe }}
                  }
                ],
  yAxis: [
    {
      type: 'value',
      axisLabel: {
        formatter: '{value} %'
      },
      name: 'Percentage of Different Attitude',
      nameLocation: 'middle',
      nameGap: 50,
      max: 100
    }
  ],
    series: [
      {
        name: 'Positive Rate',
        type: 'bar',
        stack: 'Ad',
        label: {
        show: true,
        position: 'inside'
        },
        emphasis: {
          focus: 'series'
        },
        data: {{ sentiment_rate.pe_pos_rate | safe }}
                },
      {
        name: 'Neutral Rate',
        type: 'bar',
        stack: 'Ad',
        label: {
        show: true,
        position: 'inside'
        },
        emphasis: {
          focus: 'series'
        },
        data: {{ sentiment_rate.pe_neu_rate | safe }}
                },
      {
        name: 'Negative Rate',
        type: 'bar',
        stack: 'Ad',
        emphasis: {
          focus: 'series'
        },
        data: {{ sentiment_rate.pe_neg_rate | safe }}
                },
    ]
              };
  peSentimentRate.setOption(peSentimentRateOption);

  var brSentimentRate = echarts.init(document.getElementById('brSentimentRate'));
  var brSentimentRateOption = {
    title: {
      text: 'Sentiment Analysis in Brisbane',
      left: 'center'
    },
    tooltip: {
      trigger: 'axis',
      axisPointer: {
        type: 'shadow'
      }
    },
    legend: {
      orient: 'horizontal',
      right: 0,
      top: 25
    },
    grid: {
      left: '3%',
      right: '4%',
      bottom: '3%',
      containLabel: true
    },
    xAxis: [
      {
        type: 'category',
        data: {{ sentiment_rate.y | safe }}
                  }
                ],
  yAxis: [
    {
      type: 'value',
      axisLabel: {
        formatter: '{value} %'
      },
      name: 'Percentage of Different Attitude',
      nameLocation: 'middle',
      nameGap: 50,
      max: 100
    }
  ],
    series: [
      {
        name: 'Positive Rate',
        type: 'bar',
        stack: 'Ad',
        label: {
        show: true,
        position: 'inside'
        },
        emphasis: {
          focus: 'series'
        },
        data: {{ sentiment_rate.br_pos_rate | safe }}
                },
      {
        name: 'Neutral Rate',
        type: 'bar',
        stack: 'Ad',
        label: {
        show: true,
        position: 'inside'
        },
        emphasis: {
          focus: 'series'
        },
        data: {{ sentiment_rate.br_neu_rate | safe }}
                },
      {
        name: 'Negative Rate',
        type: 'bar',
        stack: 'Ad',
        label: {
        show: true,
        position: 'inside'
        },
        emphasis: {
          focus: 'series'
        },
        data: {{ sentiment_rate.br_neg_rate | safe }}
                },
    ]
              };
  brSentimentRate.setOption(brSentimentRateOption);

  var adSentimentRate = echarts.init(document.getElementById('adSentimentRate'));
  var adSentimentRateOption = {
    title: {
      text: 'Sentiment Analysis in Adelaide',
      left: 'center'
    },
    tooltip: {
      trigger: 'axis',
      axisPointer: {
        type: 'shadow'
      }
    },
    legend: {
      orient: 'horizontal',
      right: 0,
      top: 25
    },
    grid: {
      left: '3%',
      right: '4%',
      bottom: '3%',
      containLabel: true
    },
    xAxis: [
      {
        type: 'category',
        data: {{ sentiment_rate.y | safe }}
                  }
                ],
  yAxis: [
    {
      type: 'value',
      axisLabel: {
        formatter: '{value} %'
      },
      name: 'Percentage of Different Attitude',
      nameLocation: 'middle',
      nameGap: 50,
      max: 100
    }
  ],
    series: [
      {
        name: 'Positive Rate',
        type: 'bar',
        stack: 'Ad',
        label: {
        show: true,
        position: 'inside'
        },
        emphasis: {
          focus: 'series'
        },
        data: {{ sentiment_rate.ad_pos_rate | safe }}
                },
      {
        name: 'Neutral Rate',
        type: 'bar',
        stack: 'Ad',
        label: {
        show: true,
        position: 'inside'
        },
        emphasis: {
          focus: 'series'
        },
        data: {{ sentiment_rate.ad_neu_rate | safe }}
                },
      {
        name: 'Negative Rate',
        type: 'bar',
        stack: 'Ad',
        label: {
        show: true,
        position: 'inside'
        },
        emphasis: {
          focus: 'series'
        },
        data: {{ sentiment_rate.ad_neg_rate | safe }}
                },
    ]
              };
  adSentimentRate.setOption(adSentimentRateOption);

  var daSentimentRate = echarts.init(document.getElementById('daSentimentRate'));
  var daSentimentRateOption = {
    title: {
      text: 'Sentiment Analysis in Darwin',
      left: 'center'
    },
    tooltip: {
      trigger: 'axis',
      axisPointer: {
        type: 'shadow'
      }
    },
    legend: {
      orient: 'horizontal',
      right: 0,
      top: 25
    },
    grid: {
      left: '3%',
      right: '4%',
      bottom: '3%',
      containLabel: true
    },
    xAxis: [
      {
        type: 'category',
        data: {{ sentiment_rate.y | safe }}
                  }
                ],
  yAxis: [
    {
      type: 'value',
      axisLabel: {
        formatter: '{value} %'
      },
      name: 'Percentage of Different Attitude',
      nameLocation: 'middle',
      nameGap: 50,
      max: 100
    }
  ],
    series: [
      {
        name: 'Positive Rate',
        type: 'bar',
        stack: 'Ad',
        label: {
        show: true,
        position: 'inside'
        },
        emphasis: {
          focus: 'series'
        },
        data: {{ sentiment_rate.da_pos_rate | safe }}
                },
      {
        name: 'Neutral Rate',
        type: 'bar',
        stack: 'Ad',
        label: {
        show: true,
        position: 'inside'
        },
        emphasis: {
          focus: 'series'
        },
        data: {{ sentiment_rate.da_neu_rate | safe }}
                },
      {
        name: 'Negative Rate',
        type: 'bar',
        stack: 'Ad',
        label: {
        show: true,
        position: 'inside'
        },
        emphasis: {
          focus: 'series'
        },
        data: {{ sentiment_rate.da_neg_rate | safe }}
                },
    ]
              };
  daSentimentRate.setOption(daSentimentRateOption);



  var melbPosNeg = echarts.init(document.getElementById('melbPosNeg'));
  var melbPosNegOption = {
    title: {
      text: 'Number of Positive and Negative attitude of tweets in Melbourne',
      left: 'center'
    },
    tooltip: {
      trigger: 'axis',
      axisPointer: {
        type: 'shadow'
      }
    },
    legend: {
      data: ['positive_count', 'negative_count'],
      orient: 'horizontal',
      right: 0,
      top: 25
    },
    grid: {
      left: '3%',
      right: '4%',
      bottom: '3%',
      containLabel: true
    },
    xAxis: [
      {
        type: 'value'
      }
    ],
    yAxis: [
      {
        type: 'category',
        axisTick: {
          show: false
        },
        data: {{ pos_neg.y | safe }}
                    }
                  ],
  series: [
    {
      name: 'positive_count',
      type: 'bar',
      stack: 'Total',
      label: {
        show: true
      },
      emphasis: {
        focus: 'series'
      },
      data: {{ pos_neg.melb_pos | safe }}
                    },
    {
      name: 'negative_count',
      type: 'bar',
      stack: 'Total',
      label: {
        show: true
      },
      emphasis: {
        focus: 'series'
      },
      data: {{ pos_neg.melb_neg | safe }}
                    }
  ]
                };
  melbPosNeg.setOption(melbPosNegOption);



  var syPosNeg = echarts.init(document.getElementById('syPosNeg'));
  var syPosNegOption = {
    title: {
      text: 'Number of Positive and Negative attitude of tweets in Sydney',
      left: 'center'
    },
    tooltip: {
      trigger: 'axis',
      axisPointer: {
        type: 'shadow'
      }
    },
    legend: {
      data: ['positive_count', 'negative_count'],
      orient: 'horizontal',
      right: 0,
      top: 25
    },
    grid: {
      left: '3%',
      right: '4%',
      bottom: '3%',
      containLabel: true
    },
    xAxis: [
      {
        type: 'value',
      }
    ],
    yAxis: [
      {
        type: 'category',
        axisTick: {
          show: false
        },
        data: {{ pos_neg.y | safe }}
                    }
                  ],
  series: [
    {
      name: 'positive_count',
      type: 'bar',
      stack: 'Total',
      label: {
        show: true
      },
      emphasis: {
        focus: 'series'
      },
      data: {{ pos_neg.sy_pos | safe }}
                    },
    {
      name: 'negative_count',
      type: 'bar',
      stack: 'Total',
      label: {
        show: true
      },
      emphasis: {
        focus: 'series'
      },
      data: {{ pos_neg.sy_neg | safe }}
                    }
  ]
                };
  syPosNeg.setOption(syPosNegOption);

  var brPosNeg = echarts.init(document.getElementById('brPosNeg'));
  var brPosNegOption = {
    title: {
      text: 'Number of Positive and Negative attitude of tweets in Brisbane',
      left: 'center'
    },
    tooltip: {
      trigger: 'axis',
      axisPointer: {
        type: 'shadow'
      }
    },
    legend: {
      data: ['positive_count', 'negative_count'],
      orient: 'horizontal',
      right: 0,
      top: 25
    },
    grid: {
      left: '3%',
      right: '4%',
      bottom: '3%',
      containLabel: true
    },
    xAxis: [
      {
        type: 'value'
      }
    ],
    yAxis: [
      {
        type: 'category',
        axisTick: {
          show: false
        },
        data: {{ pos_neg.y | safe }}
                    }
                  ],
  series: [
    {
      name: 'positive_count',
      type: 'bar',
      stack: 'Total',
      label: {
        show: true
      },
      emphasis: {
        focus: 'series'
      },
      data: {{ pos_neg.br_pos | safe }}
                    },
    {
      name: 'negative_count',
      type: 'bar',
      stack: 'Total',
      label: {
        show: true
      },
      emphasis: {
        focus: 'series'
      },
      data: {{ pos_neg.br_neg | safe }}
                    }
  ]
                };
  brPosNeg.setOption(brPosNegOption);

  var adPosNeg = echarts.init(document.getElementById('adPosNeg'));
  var adPosNegOption = {
    title: {
      text: 'Number of Positive and Negative attitude of tweets in Adelaide',
      left: 'center'
    },
    tooltip: {
      trigger: 'axis',
      axisPointer: {
        type: 'shadow'
      }
    },
    legend: {
      data: ['positive_count', 'negative_count'],
      orient: 'horizontal',
      right: 0,
      top: 25
    },
    grid: {
      left: '3%',
      right: '4%',
      bottom: '3%',
      containLabel: true
    },
    xAxis: [
      {
        type: 'value',
      }
    ],
    yAxis: [
      {
        type: 'category',
        axisTick: {
          show: false
        },
        data: {{ pos_neg.y | safe }}
        }
      ],
  series: [
    {
      name: 'positive_count',
      type: 'bar',
      stack: 'Total',
      label: {
        show: true
      },
      emphasis: {
        focus: 'series'
      },
      data: {{ pos_neg.ad_pos | safe }}
        },
    {
      name: 'negative_count',
      type: 'bar',
      stack: 'Total',
      label: {
        show: true
      },
      emphasis: {
        focus: 'series'
      },
      data: {{ pos_neg.ad_neg | safe }}
        }
  ]
    };
  adPosNeg.setOption(adPosNegOption);

  var daPosNeg = echarts.init(document.getElementById('daPosNeg'));
  var daPosNegOption = {
    title: {
      text: 'Number of Positive and Negative attitude of tweets in Darwin',
      left: 'center'
    },
    tooltip: {
      trigger: 'axis',
      axisPointer: {
        type: 'shadow'
      }
    },
    legend: {
      data: ['positive_count', 'negative_count'],
      orient: 'horizontal',
      right: 0,
      top: 25
    },
    grid: {
      left: '3%',
      right: '4%',
      bottom: '3%',
      containLabel: true
    },
    xAxis: [
      {
        type: 'value'
      }
    ],
    yAxis: [
      {
        type: 'category',
        axisTick: {
          show: false
        },
        data: {{ pos_neg.y | safe }}
        }
      ],
  series: [
    {
      name: 'positive_count',
      type: 'bar',
      stack: 'Total',
      label: {
        show: true
      },
      emphasis: {
        focus: 'series'
      },
      data: {{ pos_neg.da_pos | safe }}
        },
    {
      name: 'negative_count',
      type: 'bar',
      stack: 'Total',
      label: {
        show: true
      },
      emphasis: {
        focus: 'series'
      },
      data: {{ pos_neg.da_neg | safe }}
        }
  ]
    };
  daPosNeg.setOption(daPosNegOption);

  var pePosNeg = echarts.init(document.getElementById('pePosNeg'));
  var pePosNegOption = {
    title: {
      text: 'Number of Positive and Negative attitude of tweets in Perth',
      left: 'center'
    },
    tooltip: {
      trigger: 'axis',
      axisPointer: {
        type: 'shadow'
      }
    },
    legend: {
      data: ['positive_count', 'negative_count'],
      orient: 'horizontal',
      right: 0,
      top: 25
    },
    grid: {
      left: '3%',
      right: '4%',
      bottom: '3%',
      containLabel: true
    },
    xAxis: [
      {
        type: 'value'
      }
    ],
    yAxis: [
      {
        type: 'category',
        axisTick: {
          show: false
        },
        data: {{ pos_neg.y | safe }}
        }
      ],
  series: [
    {
      name: 'positive_count',
      type: 'bar',
      stack: 'Total',
      label: {
        show: true
      },
      emphasis: {
        focus: 'series'
      },
      data: {{ pos_neg.pe_pos | safe }}
        },
    {
      name: 'negative_count',
      type: 'bar',
      stack: 'Total',
      label: {
        show: true
      },
      emphasis: {
        focus: 'series'
      },
      data: {{ pos_neg.pe_neg | safe }}
        }
  ]
    };
  pePosNeg.setOption(pePosNegOption);

  var hoPosNeg = echarts.init(document.getElementById('hoPosNeg'));
  var hoPosNegOption = {
    title: {
      text: 'Number of Positive and Negative attitude of tweets in Hobart',
      left: 'center'
    },
    tooltip: {
      trigger: 'axis',
      axisPointer: {
        type: 'shadow'
      }
    },
    legend: {
      data: ['positive_count', 'negative_count'],
      orient: 'horizontal',
      right: 0,
      top: 25
    },
    grid: {
      left: '3%',
      right: '4%',
      bottom: '3%',
      containLabel: true
    },
    xAxis: [
      {
        type: 'value'
      }
    ],
    yAxis: [
      {
        type: 'category',
        axisTick: {
          show: false
        },
        data: {{ pos_neg.y | safe }}
        }
      ],
  series: [
    {
      name: 'positive_count',
      type: 'bar',
      stack: 'Total',
      label: {
        show: true
      },
      emphasis: {
        focus: 'series'
      },
      data: {{ pos_neg.ho_pos | safe }}
        },
    {
      name: 'negative_count',
      type: 'bar',
      stack: 'Total',
      label: {
        show: true
      },
      emphasis: {
        focus: 'series'
      },
      data: {{ pos_neg.ho_neg | safe }}
        }
  ]
    };
  hoPosNeg.setOption(hoPosNegOption);

  // prettier-ignore
  const months = {{ pos_neg.y | safe }};
  const citys = [
    'Adelaide', 'Brisbane', 'Darwin', 'Hobart', 'Melbourne', 'Perth', 'Sydney'
  ];
  const polData = {{ heat_score.pol_score | safe }} .map(function (item) {
    return [item[1], item[0], item[2] || '-'];
  });
  var polScoreHeat = echarts.init(document.getElementById('polScoreHeat'));
  var polScoreHeatOption = {
    title: {
      text: 'Pol score of Covid Tweets',
      left: 'center'
    },
    tooltip: {
      position: 'top'
    },
    grid: {
      height: '50%',
      top: '10%'
    },
    xAxis: {
      type: 'category',
      data: months,
      splitArea: {
        show: true
      }
    },
    yAxis: {
      type: 'category',
      data: citys,
      splitArea: {
        show: true
      }
    },
    visualMap: {
      min: -0.238,
      max: 0.453,
      calculable: true,
      orient: 'horizontal',
      left: 'center',
      bottom: '15%'
    },
    series: [
      {
        name: 'Pol score',
        type: 'heatmap',
        data: polData,
        label: {
          show: true
        },
        emphasis: {
          itemStyle: {
            shadowBlur: 10,
            shadowColor: 'rgba(0, 0, 0, 0.5)'
          }
        }
      }
    ]
  };
  polScoreHeat.setOption(polScoreHeatOption);

  const subData = {{ heat_score.sub_score | safe }}.map(function (item) {
    return [item[1], item[0], item[2] || '-'];
  });
  var subScoreHeat = echarts.init(document.getElementById('subScoreHeat'));
  var subScoreHeatOption = {
    title: {
      text: 'Sub score of Covid Tweets',
      left: 'center'
    },
    tooltip: {
      position: 'top'
    },
    grid: {
      height: '50%',
      top: '10%'
    },
    xAxis: {
      type: 'category',
      data: months,
      splitArea: {
        show: true
      }
    },
    yAxis: {
      type: 'category',
      data: citys,
      splitArea: {
        show: true
      }
    },
    visualMap: {
      min: 0.346,
      max: 0.503,
      calculable: true,
      orient: 'horizontal',
      left: 'center',
      bottom: '15%'
    },
    series: [
      {
        name: 'Sub score',
        type: 'heatmap',
        data: subData,
        label: {
          show: true
        },
        emphasis: {
          itemStyle: {
            shadowBlur: 10,
            shadowColor: 'rgba(0, 0, 0, 0.5)'
          }
        }
      }
    ]
  };
  subScoreHeat.setOption(subScoreHeatOption);


</script>
{% endblock %}
{% block scripts %}{% endblock %}