{% extends "layout.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Topic Trend of Australia</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/topic.css') }}">
</head>

<body  style="background: floralwhite;" >
    
        
    <!-- Section -->
    <section >
        {% block right %}
        <!-- Header -->
        <header id="header">
            <h1> Australia: Topic Trend </h1>
        </header>
        <div >
            <form action="/topic_dict" method="post" >
                <center>
                <select name="date" id="date" style="width: 200px; text-align: center;display: inline; margin-right: 8%" >
                    <option selected="selected" disabled="disabled"  style='display: none' value=''>date</option>
                    <option value="2021-01">2021-01</option>
                    <option value="2021-02">2021-02</option>
                    <option value="2021-03">2021-03</option>
                    <option value="2021-04">2021-04</option>
                    <option value="2021-05">2021-05</option>
                    <option value="2021-06">2021-06</option>
                    <option value="2021-07">2021-07</option>
                    <option value="2021-08">2021-08</option>
                    <option value="2021-09">2021-09</option>
                    <option value="2021-10">2021-10</option>
                    <option value="2021-11">2021-11</option>
                    <option value="2021-12">2021-12</option>
                    <option value="2022-01">2022-01</option>
                    <option value="2022-02">2022-02</option>
                    <option value="2022-03">2022-03</option>
                    <option value="2022-04">2022-04</option>
                </select>
               
                <select name="city" id="city" style="width: 200px; text-align: center;display: inline; margin-right: 3%;">
                    <option selected="selected" disabled="disabled"  style='display: none' value=''>city</option>
                    <option value="melbourne">Melbourne</option>
                    <option value="adelaide">Adelaide</option>
                    <option value="sydney">Sydney</option>
                    <option value="perth(wa)">Perth</option>
                    <option value="hobart">Hobart</option>
                    <option value="darwin">Darwin</option>
                    <option value="canberra">Canberra</option>
                    <option value="brisbane">Brisbane</option>
                </select>
                    <button type="submit" class="btn btn-default" id="topic" style="margin:5%; width: 15%; height: 30px; line-height: 30px" value = 'submit'>submit</button>
                </center>
            </form>
        </div>
        <!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	
        <div  id="test" style = 'width: 800px;height: 900px;'>
        </div>
      
        
    </section>
    {% endblock  %}
    
 
    {% block echarts_js %}
    <script type="text/javascript">
       
    function LDAvis_load_lib(url, callback){
      var s = document.createElement('script');
      s.src = url;
      s.async = true;
      s.onreadystatechange = s.onload = callback;
      s.onerror = function(){console.warn("failed to load library " + url);};
      document.getElementsByTagName("head")[0].appendChild(s);
    }
    
    if(typeof(LDAvis) !== "undefined"){
       // already loaded: just create the visualization
       !function(LDAvis){
           new LDAvis("#" + "test",  {{ vis_dict |safe }});
       }(LDAvis);
    }else if(typeof define === "function" && define.amd){
       // require.js is available: use it to load d3/LDAvis
       require.config({paths: {d3: "https://d3js.org/d3.v5"}});
       require(["d3"], function(d3){
          window.d3 = d3;
          LDAvis_load_lib("{{ url_for('static',filename='assets/js/topic.js') }}", function(){
            new LDAvis("#" + "test",  {{ vis_dict |safe }});
          });
        });
    }else{
        // require.js not available: dynamically load d3 & LDAvis
        LDAvis_load_lib("https://d3js.org/d3.v5.js", function(){
             LDAvis_load_lib("{{ url_for('static',filename='assets/js/topic.js') }}", function(){
                     new LDAvis("#" + "test", {{ vis_dict |safe }});

                })
             });

    }
    
    
    </script>
    {% endblock  %}
    {% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static',filename='assets/js/buttontopic.js') }}"></script>
    {% endblock %}
</body>
</html>