/* Team 13, Melbourne
Jing Qiu, 1152016, jiqiu1@student.unimelb.edu.au
Meijun Yue, 1190161, meijuny@student.unimelb.edu.au
Suyi Jiao, 1222833, sjjiao@student.unimelb.edu.au
Yeting Wu, 1310061, yetingw@student.unimelb.edu.au
Wenshuo Pan, 1226506, wenshuop@student.unimelb.edu.au */


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.banner_container {
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 860px;
    height: 500px;
    overflow: hidden;
}

ul.img_box {
    /* width: 860px; */
    position: absolute;
    left: 0;
    top: 0;
    /* The second image in the homepage is the first image of the rotation chart. */
    transform: translateX(-860px);
    padding: 0;
}

.img_box li {
    float: left;
    list-style: none;
    padding: 0;
}

/* Size of picture */
.img_box li img {
    width: 860px;
}

/* Small dots */
.sel_box {
    position: absolute;
    bottom: 1px;
    left: 50%;
    transform: translateX(-50%);
}

.sel_box li {
    list-style: none;
    /* Convert to in-line block elements - one line display */
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: pink;
    margin-right: 3px;
    border-radius: 5px;
    transition: all 0.4s;
    cursor: pointer;
}

/* Left arrow */
.left_btn {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 25px;
    height: 30px;
    background-color: #fff;
    line-height: 30px;
    padding-left: 3px;
    /* Change mouse to small hand */
    cursor: pointer;
}

.right_btn {
    position: absolute;
    top: 50%;
    left: 97.1%;
    transform: translateY(-50%);
    width: 25px;
    height: 30px;
    background-color: #fff;
    line-height: 30px;
    padding-left: 5px;
    cursor: pointer;
}


/* Small dot of current image */
.sel_box .cur {
    background-color: red!important;
    transform: scale(1.3);
}